*{
    margin: 0;
    padding: 0;
}

header{
    font-family: "Poppins" sans-serif; 
    background-color:white;
    color:black;
    padding: 12px 18px;
}

img{
    width: 500px;
    height: 300px;
}